body {
  margin:0;
  font-family:sans-serif;
  background:#313131;
  background-image: radial-gradient(rgba(255,255,255,0.17) 2px, transparent 0);
  background-size:30px 30px;
}

header {
  text-align:center;
  color:white;
  padding:20px;
}

input {
  padding:10px;
  border:none;
  border-radius:8px;
  width:80%;
}

.container {
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
  gap:15px;
  padding:20px;
}

.card {
  background:black;
  border-radius:12px;
  padding:10px;
  display:flex;
  flex-direction:column;
  gap:10px;
  border:1px solid #444;
}

.image {
  height:150px;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#111;
  border-radius:8px;
}

.image img {
  max-width:100%;
  max-height:100%;
}

.title {
  color:white;
  text-align:center;
}

.action {
  text-align:center;
  padding:8px;
  background:#00a3fe;
  border:none;
  border-radius:8px;
  color:black;
  font-weight:bold;
  cursor:pointer;
  text-decoration:none;
}
